.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: #3898d4;
    width: 100%;
}

.footer-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    margin: 8px;
    @media only screen and (max-width: 640px) {
        width: 100%;
    }
}
