@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  @include flexCenter();
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./assets/body_bg.png');
  min-height: 100vh;
}

@mixin commonData {
  background-color: #3898d4;
  height: 60px; 
  width: 100%;
}

.app-header {
  @include flexCenter();
  position: absolute;
  top: 0;
  @include commonData();
}

.app-footer {
  @include flexCenter();
  position: absolute;
  bottom: 0;
  @include commonData();
}




